.started-button {
  color: white;
  background-color: rgb(121, 82, 179);
  border: none;
  border-radius: 3px;
  padding: 13px 20px;
  font-weight: 600;
  font-style: bold;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.8s;
}

.started-button:hover {
  background-color: rgb(80, 12, 128);

}

.download-button {
  color: rgb(108, 117, 125);
  background-color: white;
  border-style: solid;
  border-color: rgb(108, 117, 125);
  border-radius: 3px;
  border-width: 1px;
  padding: 13px 20px;
  font-weight: 700;
  font-style: bold;
  cursor: pointer;
  transition: background-color 0.8s;
  transition: color 0.8s;
}

.download-button:hover {
  background-color:rgb(108, 117, 125);
  color: white;

}